         *{
            margin: 0;
            padding: 0;
        }
        body{
            background: #f3f3f3;
            color: #555;
            font-family: 'Avenir Next','Lantinghei SC';
            font-size: 14px;
            -webkit-font-smoothing:antialiased;
            -moz-font-smoothing:antialiased;
            -o-font-smoothing:antialiased;
            -ms-font-smoothing:antialiased;
        }
        li{
            list-style: none;
        }
        a{
            text-decoration: none;
        }
        .layer{
            width: 1200px;
            margin:0 auto;
        }
        #nav{
            height: 40px;
            width:100%;
            background-color: #111;
            margin-bottom:1px; 
            padding-top: 15px;
        }
        .logo,.pages,.search{
            display: inline-block;
        }
        .logo{
            font-size: 24px;
            color: #ffff00;
        }
        .pages{
            margin-left: 30px; 
        }
        .pages li{
            float: left;
            margin-left: 15px;
        }
        .pages a{
            text-decoration: none;
            color: #fff;
        }
        .pages .curren,
        .pages a:hover{
            color: #ffff55;
        }
        .search{
            float: right;
            background: #FFF;
            height: 25px;
            width: 150px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .search input,
        .search button{
            border: 0 none;
            background: none;
            outline: none;
        }
        .search input {
            float: left;
            width: 120px;
            height: 25px;
        }
        .search button {
            height: 25px;
        }
        .wrap{
            width: 100%;
            height: 560px;
            position: absolute;
            margin: auto;
            background: #333;
            overflow: hidden;

            -webkit-perspective: 800px;
            -moz-perspective: 800px;
            -o-perspective: 800px;
            -ms-perspective: 800px;
        }

        .photo{
            width: 260px;
            height: 320px;
            position: absolute;
            z-index: 1;
            box-shadow: 0 0 1px rgba(0,0,0,.01);

            /*transform: rotateY(60deg);*/
            -webkit-transition: all 1s;
            -moz-transition: all 1s;
            -o-transition: all 1s;
            -ms-transition: all 1s;

        }

        .photo .side{
            width: 100%;
            height: 100%;
            background-color: #eee;
            position: absolute;
            top: 0;
            right: 0;
            padding: 20px;
            box-sizing: border-box;
        }
        .photo .side-front{

        }
        .photo .side-front .image{
            width: 100%;
            height: 250px;
            line-height: 250px;
            overflow: hidden;
        }
        .photo .side-front .image img{
            width: 100%;

        }
        .photo .side-front .caption{
            text-align: center;
            font-size: 16px;
            line-height: 50px;
        }

        .photo .side-back{

        }
        .photo .side-back .desc{
            color: #666;
            font-size: 14px;
            line-height: 1.5em;
        }

        .photo-center{
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: 9;
        }
        /*负责翻转*/
        .photo-wrap{
            width: 100%;
            height: 100%;
            position: absolute;
            /*让子元素支持3d*/
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            -o-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;

            -webkit-transition: all .6s;
            -moz-transition: all .6s;
            -o-transition: all .6s;
            -ms-transition: all .6s;

        }
        .photo-wrap .side-front{
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
        }
        .photo-wrap .side-back{
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
        }
        .photo-wrap .side{
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            -o-backface-visibility: hidden;
        }

        .photo-front .photo-wrap{
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
        }
        .photo-back .photo-wrap{
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
        }
        .nav{
            width: 80%;
            height: 30px;
            line-height: 30px;
            position: absolute;
            left: 10%;
            bottom: 20px;
            z-index: 99;
            text-align: center;

        }
        .nav .i{
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background: #aaa;
            text-align: center;
            line-height: 30px;

            -webkit-transform: scale(.47);
            -moz-transform: scale(.47);
            -ms-transform: scale(.47);
            -o-transform: scale(.47);


            -webkit-transition: all 1s;
            -moz-transition: all 1s;
            -ms-transition: all 1s;
            -o-transition: all 1s;
        }
        .nav .i_current{
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
        }
        .nav .fa{
            color: #fff;
        }
        .nav .i_back{
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            background: #555;
        }
        .contain{
            margin-top:562px;
        }
        .main{
            height: 800px;
            background: url(../images/bg.jpg) no-repeat; 
            background-size: 100%;
        }
        .contain-p{
            color: #555;
            line-height: 2;
            padding-top: 390px;
            text-indent: 2em;
        }
        #footer{
            width: 100%;
            background-color: #000;
            height: 100px;
            clear:both;
            
            
        }
        
        /*优化*/
        .photo{
            left: 50%;
            top: 50%;
            margin: -160px 0 0 -130px;
        }
        .photo-wrap{
            -webkit-transform-origin: 0% 50%;
            -moz-transform-origin: 0% 50%;
            -ms-transform-origin: 0% 50%;
            -o-transform-origin: 0% 50%;

        }
        .photo-front .photo-wrap{
            -webkit-transform: translate( 0px,0px ) rotateY(0deg);
            -moz-transform: translate( 0px,0px ) rotateY(0deg);
            -ms-transform: translate( 0px,0px ) rotateY(0deg);
            -o-transform: translate( 0px,0px ) rotateY(0deg);
        }
        .photo-back .photo-wrap{
            -webkit-transform: translate( 260px,0px ) rotateY(180deg);
            -moz-transform: translate( 260px,0px ) rotateY(180deg);
            -ms-transform: translate( 260px,0px ) rotateY(180deg);
            -o-transform: translate( 260px,0px ) rotateY(180deg);
        }
        .top-img{
            background: url(../images/otherbg.jpg);
            background-size: 100%;
            height: 280px;
        }

        .link{
            height: 25px;
            padding: 35px 0 0 25px;
        }
        .link li{
            float: left;
            line-height: 20px;
            height: 20px;
            color: #999;
            padding: 0 10px;
            border-right:1px solid #666;
        }
        .link a{
            color: #666;
            text-decoration: none;
        }

        /*people.html页面的CSS样式*/
        .title{
            background: #000;
            height: 60px;
            line-height: 60px;
        }
        #hero{
            color: #eee;
        }
        .title span{
            margin: 0 20px;
        }

        /*人物介绍表格*/
        .pics{
            width:340px;
            height: 240px;
        }
        div.layer tr.tr{
            height: 256px;
        }
        .tr .pics:hover{
            width:360px;
            height: 254px;
            opacity: 0.8;
        }
        .tr td.left{
            width:35%;
            text-align: center;
            vertical-align: center;
        }
        .tr td.left a{

        }
        .tr td.right{
            width:65%;
            overflow: hidden;
        }
        .right div.text p{
            margin-top: 5px;
        }
        .right div.btn{
            float: right;
            margin-top: 10px;
        }
              
        .layer .intro{
            width: 1200px;
            margin:0 auto;
        }
        .layer #hero{
            font-family: "arial black";
            font-size: 24px;
        }
        .layer .he{
            font-family: "arial black";
            font-size: 18px;
            font-style: initial;
            color: #eee;
        }
        .layer .he:hover{
            color:gold;
        }

        .content{
            width: 100%;
            height: 1700px;
        }
 
        /*怎么调整间距 */     
        div .text{
            font-family:"mv boli";
            color:teal;
            font-size: 18px;
        }
        .more-tit{
            height: 30px;
            line-height: 30px;
            width: 100%;
            font-size: 24px;
            color: #000;
            margin: 10px 0;
        }
        .moreHero{
            width: 100%;
            overflow-x: scroll;
            height: 250px;
            margin-bottom: 20px;
        }
        .ul {
            width: 230%;
        }
        .ul li {
            float: left;
            width: 200px;
            height: 200px;
            margin-right: 10px;
            text-align: center;
        }
        .ul img {
            width: 200px;
            height: 200px;
        }
        .bizhi,
        .erwei {
            margin-top: 20px;
            background: #fff;
            float: left;
            width: 550px;
            height: 300px;
            box-shadow: 0px 2px 3px 3px #e7e7e7;
        }
        .bizhi {
            margin-right: 60px;
        }
        .bizhi-title,
        .erwei-title {
            height: 50px;
            line-height: 50px;
            padding-left: 20px;
            font-size: 16px;
            color: #2e2e2e;
            background: #f6f6f6;
        }
        .bizhi-img {
            float: left;
            margin: 20px 0 0 40px; 
        }
        .ziazai{
            display: block;
            width: 120px;
            height: 30px;
            color: #fff;
            line-height: 30px;
            border-radius: 3px;
            background: #ff5400;
            margin: 20px 0 0 45px; 
            text-align: center;
        }
        .erwei-img {
            float: left;
            margin: 20px 0 0 80px; 
        }
        .erwei-img img{
            height: 143px;
            width: 143px;
        }
        .saoma{
            display: block;
            height: 30px;
            line-height: 30px;
            margin: 20px 0 0 25px; 
        }