*{
    margin: 0;
    padding: 0;
}
.highlight{
    color:red;
}
a:hover{
    color:blue;
}
a{
    color:black;
}
.box-hd{
    width: 930px;
    text-align:center;
}
.label{
    text-align:left;
}
span{
    background-color: #233;
    text-decoration-color: white;
}
#focus{
    width: 800px;
    height: 280px;
    overflow: hidden;
    position: relative;
}
#focus ul{
    height: 380px;
    position: absolute;
}
#focus ul li div{
    position: absolute;
    overflow: hidden;
}
#focus .preBtn{
    width: 45px;
    height: 100px;  
    left: 0;
    top:90px;
    background:url(images/spirte.png) no-repeat 0 0;
    background-color:#000;
    cursor: pointer;
    opacity:0.4;
    filter:alpha(opacity=40);
}
#focus .nextBtn{
    width: 45px;
    height: 100px;
    right:0px;
    top:90px;
    background:url(images/spirte.png) no-repeat right top;
    background-color:#000;
    cursor: pointer;    
    opacity:0.4;
    filter:alpha(opacity=40);
}
.box-bd{
    width: 60%;
    padding-top:20px;
    margin:0 auto;
    background-color:#fff;
}
.title1{
    float: left;
    width: 100px;
    font-size:16px;
    border-bottom:2px solid #3a6ecc;
    height:34px;
    line-height:34px;
    margin-bottom:-1px
}
.more{
    line-height: 36px;
    float: right;
}
.act{
    float:right;
}
.data-list{
    margin-bottom:10px;
    font-size:0;
    margin-left:-17px;
}
.ZQ-channal-data{
    padding-bottom:1px;
}
.ZQ-channal-data .box-bd{
    padding-top:20px;
    overflow:
    hidden;
    position:relative;
}
.ZQ-channal-data .data-list{
    margin-bottom:10px;
    font-size:0;
    position:
    relative;
    margin-left:-17px;
}
.ZQ-channal-data .data-list .label,.ZQ-channal-data .data-list a{
    font-size:14px;
}
.ZQ-channal-data .data-list .label{
    padding:0 6px;
    background-color:#3a6ecc;
    color:#fff;
    padding-left:23px;
    float:left;
    height:25px;
    line-height:25px;
}
.ZQ-channal-data .data-list ul{
    *zoom:1;margin-left:85px;
}
.ZQ-channal-data .data-list ul{
    content:"";
    display:table;
    line-height:0;
}
.ZQ-channal-data .data-list ul{
    clear:both;
}
.ZQ-channal-data .data-list li{
    float:left;
    height:25px;
    line-height:25px;
}
.ZQ-channal-data .data-list a{
    padding:0 16px;
    border-left:1px solid #EAEAEA;
}
.ZQ-channal-data .is-nborder a{
    border:none;
    padding-left:17px;
}
.m-list{
    padding:11px 0;
    height: :80px;
    border-bottom:1px solid #EAEAEA; 
    font-size:14px; 
    line-height:35px;
    text-align:center;
    margin-bottom: 20px;
}
.m-list ul,li{
    overflow:hidden;
    height:28px;
    line-height:35px;
    padding-left:11px;
    text-align:center;
}
.mod-tab-content{
   
   
    overflow:hidden;
    *zoom:1;
    position: relative;
    left=20%;
    bottom: 100px;
   
}
.title2{
    width: 100px;
    font-size:16px;
    border-bottom:2px solid #3a6ecc;
    height:34px;
    line-height:34px;
    margin-bottom:-1px
}
.hello{
    width: 100%;
    height: 82px;
}
.wrap1{
    width: 100%;
}
.m-list{
    float: left;
    margin-right: 2%;
    width: 48%;
    text-align: right;
}
.m-list i{

}


.phopo{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;


}
.first{
    float:left;
    padding: 5px;
    padding-left: 30px;

}
.phopo-1{
    margin-bottom:-30px;
}
.turn-phop ul li img{
    width: 390px;
    height: 288px;

}
.phopo-2{
    margin-left: 10%;
    float:left;
    width: 40%
    height: 288px;
}

.turn-phop ul li{
    width: 390px;
    height: 288px;
}
.photo-31{
    float:left;
     width:60%;
    height: 288px;
}
.trun-tr{
    width:390px;
    

}
.photo-322{
    float:left;
     width:390px;
    height: 288px;
}
.tryone{
    width:50%;
    float:left;
    height: 288px;
    margin-bottom:70px;


}
.trytwo{
    width:50%;
    float:right;
    height:288px;
   
}
.trytwo a{
    color:white;
}
.turn-pic{
    width:390px;
    height:288px;
    float:right;
    margin-right:80px;
    margin-bottom:70px;
}
.turn-pic ul li{
    width: 390px;
    height: 288px
}
.namepass{
    width:500px;
    float: left;
    height:288px;
    
    background-color: #345;
   
}
.title-1{
   width:500px; 
   font-size: 30px;
}
.tablistin{
    padding-top: 20px;

}
