*{
    margin: 0;
    padding: 0;
}
.highlight{
    color:red;
}
a:hover{
    color:blue;
}
a{
    color:black;
}
.box-hd{
    width: 930px;
    text-align:center;
}
.label{
    text-align:left;
}
span{
    background-color: #233;
    text-decoration-color: white;
}
#focus{
    width: 800px;
    height: 280px;
    overflow: hidden;
    position: relative;
}
#focus ul{
    height: 380px;
    position: absolute;
}
#focus ul li div{
    position: absolute;
    overflow: hidden;
}
#focus .preBtn{
    width: 45px;
    height: 100px;  
    left: 0;
    top:90px;
    background:url(images/spirte.png) no-repeat 0 0;
    background-color:#000;
    cursor: pointer;
    opacity:0.4;
    filter:alpha(opacity=40);
}
#focus .nextBtn{
    width: 45px;
    height: 100px;
    right:0px;
    top:90px;
    background:url(images/spirte.png) no-repeat right top;
    background-color:#000;
    cursor: pointer;    
    opacity:0.4;
    filter:alpha(opacity=40);
}
.box-bd{
    width: 60%;
    padding-top:20px;
    margin:0 auto;
    background-color:#fff;
}
.title1{
    float: left;
    width: 100px;
    font-size:16px;
    border-bottom:2px solid #3a6ecc;
    height:34px;
    line-height:34px;
    margin-bottom:-1px
}
.more{
    line-height: 36px;
    float: right;
}
.act{
    float:right;
}
.data-list{
    margin-bottom:10px;
    font-size:0;
    margin-left:-17px;
}
.ZQ-channal-data{
    padding-bottom:1px;
}
.ZQ-channal-data .box-bd{
    padding-top:20px;
    overflow:
    hidden;
    position:relative;
}
.ZQ-channal-data .data-list{
    margin-bottom:10px;
    font-size:0;
    position:
    relative;
    margin-left:-17px;
}
.ZQ-channal-data .data-list .label,.ZQ-channal-data .data-list a{
    font-size:14px;
}
.ZQ-channal-data .data-list .label{
    padding:0 6px;
    background-color:#3a6ecc;
    color:#fff;
    padding-left:23px;
    float:left;
    height:25px;
    line-height:25px;
}
.ZQ-channal-data .data-list ul{
    *zoom:1;margin-left:85px;
}
.ZQ-channal-data .data-list ul{
    content:"";
    display:table;
    line-height:0;
}
.ZQ-channal-data .data-list ul{
    clear:both;
}
.ZQ-channal-data .data-list li{
    float:left;
    height:25px;
    line-height:25px;
}
.ZQ-channal-data .data-list a{
    padding:0 16px;
    border-left:1px solid #EAEAEA;
}
.ZQ-channal-data .is-nborder a{
    border:none;
    padding-left:17px;
}
.m-list{
    padding:11px 0;
    height: :80px;
    border-bottom:1px solid #EAEAEA; 
    font-size:14px; 
    line-height:35px;
    text-align:center;
    margin-bottom: 20px;
}
.m-list ul,li{
    overflow:hidden;
    height:28px;
    line-height:35px;
    padding-left:11px;
    text-align:center;
}
.mod-tab-content{
   
   
    overflow:hidden;
    *zoom:1;
    position: relative;
    left=20%;
    bottom: 100px;
   
}
.title2{
    width: 100px;
    font-size:16px;
    border-bottom:2px solid #3a6ecc;
    height:34px;
    line-height:34px;
    margin-bottom:-1px
}
.hello{
    width: 100%;
    height: 82px;
}
.wrap1{
    width: 100%;
}
.m-list{
    float: left;
    margin-right: 2%;
    width: 48%;
    text-align: right;
}
.m-list i{

}



.turn-phop ul li img{
    width: 390px;
    height: 288px;

}
.phopo-2{
    margin-left: 10%;
    float:left;
    width: 40%
    height: 288px;
}

.turn-phop ul li{
    width: 390px;
    height: 288px;
}
.photo-31{
    float:left;
     width:60%;
    height: 288px;
}
.trun-tr{
    width:390px;
    

}
.photo-322{
    float:left;
     width:390px;
    height: 288px;
}


/*gonglue.css*/
/*表头*/
.body{
    background-color: rgb(188,188,188);
}
.bgimg{
    top:40px;
    background: url(../images/otherbg2.jpg);
            background-repeat:repeat-x;
            height: 420px;
}
.lin-1{
    height:81px;
    width:1000px;
    margin:0 auto;
    background: #347;
    

}
.lin-1 a{
    font-family: "Microsoft YaHei";
    color:rgb(255,255,254);
    text-align: center;
    font-size: 50px;
    padding-left:40px;
}

.con-1{
    width: 300px;
    height: 81px;
    margin-left: 50px;
    float: left;
    background: rgb(53,87,135);
    
    box-shadow:3px,3px,3px,3px;
    position: relative;
    
   
    
    

}
.con-2{
    width: 300px;
    height: 81px;
    float: left;
    background: rgb(53,87,135);
    box-shadow: 3px,3px,3px,3px ;
    overflow: hidden;
    border: 1px solid #f2f2f2;
    
    
}
.con-3{
    width: 300px;
    height: 81px;
    margin-right: 40px;
    float: left;
    background: rgb(53,87,135);
    box-shadow: 3px,3px,3px,3px ;
     
    

}


/*游戏介绍样式*/
#introduce{
    width: 1000px;
    height:600px;
    background: #347;
    margin:0 auto;
    color:white;

}
#introduce h1{
    padding-top: 30px;
    text-align: center;
    font-family: "Microsoft YaHei"
}
#introduce p{
    text-indent: 1cm;
    padding:15px 50px;

}
.int{
    width: 1000px;
    height:600px;
    margin:0 auto;
    scrollbar-face-color : black;

}
.int h2{
     padding-top: 5px;
    text-align: center;
    font-family: "Microsoft YaHei"

}
.int-1{
    width: 50%;
    height:400px;
    float:left;
    background: rgb(225,225,128);
    overflow: hidden;
    color:black;
}
.int-2{
    width: 50%;
    height:400px;
    float:left;
    background: rgb(225,225,128);
    overflow: hidden;
    color:black;
}

.int-11{
    height:200px;
    overflow: auto;
}

.int-12{
    height:200px;
    overflow: auto;
}
.int-21{
    height:200px;
    overflow: auto;
}

.int-22{
    height:200px;
    overflow: auto;
}
.int-22 table{
    width: 500px;
    height: 150px;
    text-align: content;
}
/*新手指南样式*/
#newguide{
    width: 1000px;
    height:1250px;
    background: #347;
    margin:0 auto;
    color:white;

}
.site{
    height:160px;
    width:903px;
    margin:10px auto;
    background: white;

}
.site h2{
    display: block;
    width: 300px;
    height: 70px;
    font-size: 18px;
    color: #6f6e6e;
    text-align: center;
    line-height: 70px;
    float: left;
    background: #f6f6f6;
    border-right: 1px solid ;
}
.youxi{
    width: 215px;
    float: left;
    margin: 0px 58px 0px 58px;
    margin: 0px 55px 0px 28px;
    background: white;
    height: 90px;
    overflow: hidden;
    
}
.zhengzhan{
    width: 215px;
    height: 90px;
    float: left;
    margin: 0px 58px 0px 58px;
    margin: 0px 55px 0px 28px;
    background: white;
    overflow: hidden;
    
}
.jingjie{
    width: 215px;
    float: left;
    margin: 0px 58px 0px 58px;
    margin: 0px 55px 0px 28px;
    background: white;
    height: 90px;
    overflow: hidden;
    
}
.site a{
    display: block;
    width: 105px;
    float: left;
    height: 20px;
    text-align: center;
    margin: 15px 0px 0px 0px;
    overflow: hidden;
}
.newg h1{
    font-family: "Microsoft YaHei";
    text-align: center;
    margin-top: 15px;

}
.newg p{
    display: block;
    width:630px;
    height:160px;
    margin:10px auto;
    background: white;
    background: url(../images/xingshougonglue2.jpg);
    background-repeat: no-repeat;
    background-position: 35px;
    text-indent:1cm;
    padding-left: 365px;
    padding-right: 30px;
    font-size:20px;
}



/*秘籍样式*/

#miji{
    width: 1000px;
    height:660px;
    background: #347;
  /*  filter:alpha(opacity:30);
    opacity:0.8;
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;*/
    margin:0 auto;

}
.tryone{
    width:46%;
    float:left;
    height: 288px;
    margin-bottom:70px;
    margin-top: 60px;
    
   
    


}
.trytwo{
    width:54%;
    float:right;
    height:288px;
     margin-top: 60px;

    
   
}
.trytwo p{
    color:white;
    font-size: 36px;
    display: inline;
}
.turn-pic{
    width:390px;
    height:288px;
    float:right;
    margin-right:35px;
    

}

/*.turn-pic ul li{
    width: 390px;
    height: 288px
}*/
.namepass{
    width:500px;
    float: left;
    height:288px;
    color:white;
    background-color: #345;
   
}
.title-1 a{
   width:500px; 
   font-size: 30px;
   color: white;
}
.tablistin{
    padding-top: 20px;
    color:white;

}
.tab a{
    color:white;
}

.phopo{
    width:1000px;
    height: 170px;
    background-color: #347;
    clear:both;

    
    
    



}
.first{
    float:left;
    padding-left: 38px;
    padding-top: 10px;


}



/*内容底部样式*/

.boxx-1{
    width:280px;
    height: 150px;
    background-color: #347;
    margin:10px 10px 10px 200px;
    position: relative;
    box-shadow: 0px 1px 1px 1px;
    float: left;


}
.boxx-1 h1{
     color:black;
   text-align: center;
   padding:15px;
   font-family: "Microsoft YaHei";


}
.boxx-1 select{
   color:black;
   text-align: center;
   margin-left: 95px;
   font-family: "Microsoft YaHei"

}
.boxx-2{

    width:280px;
    height: 150px;
    background-color: #347;
    margin:10px ;
    float: left;
    box-shadow: 0px 1px 1px 1px;
    overflow: hidden;
    color:black;
    text-align: center;
    background: #347;
    
    
}
.boxx-2 h3{
    padding-top: 15px;
}
.boxx-3{
    width:280px;
    height: 150px;
    right:130px;
    top:10px;
    background-color: white;
    margin:10px 30px 10px 30px;
    float: left;
    box-shadow: 0px 1px 1px 1px;
    color:black;
    background:#347;
}
.boxx-3 h3{
    text-align: center;
}
