         *{
            margin: 0;
            padding: 0;
        }
        body{
            background: #fbfbfb;
            color: #555;
            font-family: 'Avenir Next','Lantinghei SC';
            font-size: 14px;
            -webkit-font-smoothing:antialiased;
            -moz-font-smoothing:antialiased;
            -o-font-smoothing:antialiased;
            -ms-font-smoothing:antialiased;
        }
        li{
            list-style: none;(s)
        }
        a{
            text-decoration: none;
        }
        .layer{
            width: 1200px;
            margin:0 auto;
        }
        #nav{
            height: 40px;
            width:100%;
            background-color: #ccc;
            margin-bottom:1px; 
            padding-top: 15px;
        }
        .logo,.pages,.search{
            display: inline-block;
        }
        .logo{
            font-size: 24px;
        }
        .pages{
            margin-left: 30px; 
        }
        .pages li{
            float: left;
            margin-left: 15px;
        }
        .pages a{
            text-decoration: none;
            color: #fff;
        }
        .pages a:hover{
            color: #000;
        }
        .search{
            float: right;
        }
        .wrap{
            width: 100%;
            height: 560px;
            position: absolute;
            margin: auto;
            background: #333;
            overflow: hidden;

            -webkit-perspective: 800px;
            -moz-perspective: 800px;
            -o-perspective: 800px;
            -ms-perspective: 800px;
        }

        .photo{
            width: 260px;
            height: 320px;
            position: absolute;
            z-index: 1;
            box-shadow: 0 0 1px rgba(0,0,0,.01);

            /*transform: rotateY(60deg);*/
            -webkit-transition: all 1s;
            -moz-transition: all 1s;
            -o-transition: all 1s;
            -ms-transition: all 1s;

        }

        .photo .side{
            width: 100%;
            height: 100%;
            background-color: #eee;
            position: absolute;
            top: 0;
            right: 0;
            padding: 20px;
            box-sizing: border-box;
        }
        .photo .side-front{

        }
        .photo .side-front .image{
            width: 100%;
            height: 250px;
            line-height: 250px;
            overflow: hidden;
        }
        .photo .side-front .image img{
            width: 100%;

        }
        .photo .side-front .caption{
            text-align: center;
            font-size: 16px;
            line-height: 50px;
        }

        .photo .side-back{

        }
        .photo .side-back .desc{
            color: #666;
            font-size: 14px;
            line-height: 1.5em;
        }

        .photo-center{
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: 9;
        }
        /*负责翻转*/
        .photo-wrap{
            width: 100%;
            height: 100%;
            position: absolute;
            /*让子元素支持3d*/
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            -o-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;

            -webkit-transition: all .6s;
            -moz-transition: all .6s;
            -o-transition: all .6s;
            -ms-transition: all .6s;

        }
        .photo-wrap .side-front{
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
        }
        .photo-wrap .side-back{
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
        }
        .photo-wrap .side{
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            -o-backface-visibility: hidden;
        }

        .photo-front .photo-wrap{
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
        }
        .photo-back .photo-wrap{
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
        }
        .nav{
            width: 80%;
            height: 30px;
            line-height: 30px;
            position: absolute;
            left: 10%;
            bottom: 20px;
            z-index: 99;
            text-align: center;

        }
        .nav .i{
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background: #aaa;
            text-align: center;
            line-height: 30px;

            -webkit-transform: scale(.47);
            -moz-transform: scale(.47);
            -ms-transform: scale(.47);
            -o-transform: scale(.47);


            -webkit-transition: all 1s;
            -moz-transition: all 1s;
            -ms-transition: all 1s;
            -o-transition: all 1s;
        }
        .nav .i_current{
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
        }
        .nav .fa{
            color: #fff;
        }
        .nav .i_back{
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            background: #555;
        }
        .contain{
            margin-top:562px;
        }
        .main{
            height: 400px;
            background: url(../images/bg.jpg); 
            background-size: 100%;
        }
        .contain dl{
            display: inline-block;
            width: 250px;
            height: 300px;
            border-radius: 5px;
            background-color: #666;
            margin: 50px 50px 0 0;
        }
        .contain-p{
            width: 600px;
            color: #fff;
            float: right;
            margin-top: 200px;
            margin-right: 150px;
            line-height: 2;
        }
        #footer{
            width: 100%;
            background-color: #000;
            height: 100px;
            clear:both;
            
            
        }
        
        /*优化*/
        .photo{
            left: 50%;
            top: 50%;
            margin: -160px 0 0 -130px;
        }
        .photo-wrap{
            -webkit-transform-origin: 0% 50%;
            -moz-transform-origin: 0% 50%;
            -ms-transform-origin: 0% 50%;
            -o-transform-origin: 0% 50%;

        }
        .photo-front .photo-wrap{
            -webkit-transform: translate( 0px,0px ) rotateY(0deg);
            -moz-transform: translate( 0px,0px ) rotateY(0deg);
            -ms-transform: translate( 0px,0px ) rotateY(0deg);
            -o-transform: translate( 0px,0px ) rotateY(0deg);
        }
        .photo-back .photo-wrap{
            -webkit-transform: translate( 260px,0px ) rotateY(180deg);
            -moz-transform: translate( 260px,0px ) rotateY(180deg);
            -ms-transform: translate( 260px,0px ) rotateY(180deg);
            -o-transform: translate( 260px,0px ) rotateY(180deg);
        }
        .top-img{
            background: url(../images/otherbg.jpg);
            background-size: 100%;
            height: 280px;
        }

        .link{
            height: 25px;
            padding: 35px 0 0 25px;
        }
        .link li{
            float: left;
            line-height: 25px;
            height: 25px;
            color: #fff;
            padding: 0 10px;
            border-right:1px solid #fff;
        }
        .link a{
            color:#fff;
            text-decoration: none;
        }

        /*people.html页面的CSS样式*/
        .title{
            background: #000;
            height: 60px;
            line-height: 60px;
        }
        #hero{
            color: #eee;
        }
        .title span{
            margin: 0 20px;
        }
        .pics{
            width:340px;
            height: 240px;
        }
        .tr:hover .pics{
            width:380px;
            height:280px;
        }
        .intro{      
            background-color:lavender;     
        }        
        .layer .intro{
            width: 1200px;
            margin:0 auto;
        }
        .layer #hero{
            font-family: "arial black";
            font-size: 24px;
        }
        .layer .he{
            font-family: "arial black";
            font-size: 18px;
            font-style: initial;
            color: gray;
        }
        .layer .he:link{
            color: gray;
        }
        .layer .he:visited{
            color: gray;
        }
        .layer .he:hover{
            color:gold;
        }

        .content{
            width: 100%;
            height: 1700px;
        }
        /*怎么调整间距 */     
        div .text{
            font-family:"mv boli";
            color:teal;
            font-size: 18px;
        }
        .more-tit{
            height: 30px;
            line-height: 30px;
           width: 100%;
           font-size: 24px;
           color: #000;
           margin: 10px 0;
        }
        .moreHero{
            width: 100%;
            overflow-x: scroll;
            height: 250px;
            margin-bottom: 20px;
        }
        .ul{
            width: 230%;
        }
        .ul li{
            float: left;
            width: 200px;
            height: 200px;
            margin-right: 10px;
            text-align: center;
        }
        .ul img{
            width: 200px;
            height: 200px;
        }
       
